*{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
   
    color: #fff;
    overflow:hidden;
}
.main{
    display: flex;
    height: 100vh;
    background-color: black;
}
.sidebar{
   background-color:black;
   width:340px;
   border-radius:1rem; /*16px*/
}
.main_content{
   background-color:black;
   flex: 1;
   border-radius:1rem;
   overflow:auto;
   padding: 0 1.5rem 0 1.5rem;
}
.music_player{
   background-color:black;
   position: fixed;
   bottom: 0px;
   width: 100%;
   height: 72px;
}
.top{
    height:100px;
    background-color: rgb(15, 11, 11);
    padding-top: 20px;

}
.one i{
    margin-right: 20px;
}
.one{
    margin-bottom: 30px;
}
.one a{
    text-decoration: none;
}
.library{
    display: flex;
    background-color: rgb(15, 11, 11);
    margin-top:10px;
    height:50px;
    border-radius: 15px;
    
    

}
.img{
    height:20px;
    width: 20px;
}
.lib{
    padding-left:35px;
    padding-top: 15px;
    justify-content: space-evenly;
    height: 100%;
}
.q{
    background-color: rgb(15, 11, 11);
    height: 100%;
}
.lib a{
    padding-left:20px;
    text-decoration: none;
    

}
.icons{
    justify-content: end;
    position: relative;
    left:100px;
    padding-top:20px;

}
.icons i{
    margin-right: 10px;
}
.d1{
    height:100px;
    background-color: rgb(26, 22, 22);
    line-height: 30px;
    padding-left: 25px;
    border-radius:12px;
    margin-top:1px;
    margin-left:15px;
    margin-right:15px;
}
.head{
    padding-top: 4px;
    
}
.o{
    background-color:   rgb(39, 33, 33); 
    margin-top: 4px;
}
.btn1{
    color: black;
    border-radius: 18px;
    height: 28px;
}
.sticky-nav{
    position: sticky;
    top: 0px;
    background-color:#121212;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0 1rem;
    z-index: 10;
    

}
.sticky-nav-icons {
   
    margin-left: 0.75rem;
}
.sticky-nav-options{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.sticky-nav-options button{
    margin-right: 0.5rem;
}
.dark-badge{
    background-color: 000;
    color: white;
}
.nav-item{
    margin-right: 1rem;
}
.button{
    background-color: black;
    color: white;
    border-radius: 15px;
}
@media ( max-width:1000px){
    .hide{
        display: none;
    }
}
.card{
    background-color: #232323;
    width:150px;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-left: 1.5rem;
    margin-top: 1rem;
    
    

}
.cards-container{
    display: flex;
    flex-wrap: wrap;
}
.card-img{
width: 100%;
border-radius: 0.5rem;

}
.card-title{
    font-weight: 600px;
}
.card-info{
    font-size: 0.85rem;
    opacity: 0.8;
    padding-top:10px;
}
.footer{
    height: 300px;
    display: flex;
    align-items: center;
}
.line{
    width:90%;
    height:50%;
    border-top: 1px solid white;
    opacity: 0.4;
}
.music-player{
    display: flex;
}
.album{
    width:300px;
    
   
}

.player{
    
    padding-left:35%;
    position: absolute;
    bottom: 0px;
    
}

.player-control-icon{
    height: 1rem;
    opacity: 0,7;
    margin-right: 1.75rem;
}
.player-control-icon:hover{
    opacity: 1;
}
.green{
    height: 60px;
    width: 60px;
    border-radius: 5px;
    float: left;
}
.day{
    padding-left: 10px;
    margin-top: 6px;

}
.i{
    position: absolute;
    left: 250px;
    bottom: 20px;
    justify-content: center;
}

